@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Sassy+Frass&display=swap');

body {
  color: #ffffff;
  background-color: #1f1e43;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
